:root {
  --bs-primary: #044aad;
  --bs-blue: #044aad;
  --bs-purple: #5a49f8;
  --bs-purple-light: #7a64f2;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

/* Custom Classes */

.full-width {
  height: calc(100vh - 78px);
}

.heading-bg {
  height: 40vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(135deg, var(--bs-primary) 10%, var(--bs-purple) 50%);
  color: #fff;
}

.btn-light {
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.letter-spacing {
  letter-spacing: 5px;
}

.line-height {
  line-height: 1.8;
}

.divider {
  position: relative;
  color: var(--bs-purple);
  margin: 1.6rem 0;
  display: inline-block;
}

.divider::before {
  content: "- - - - - - - - -";
  position: absolute;
  color: var(--bs-purple);
  width: 100px;
  font-size: 1.2rem;
  left: 45px;
}

.divider::after {
  content: "- - - - - - - - -";
  position: absolute;
  color: var(--bs-purple);
  width: 100px;
  font-size: 1.2rem;
  right: 45px;
}

.avatar {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.focus-shadow {
  transition: all 0.4s ease-in-out;
}

.focus-shadow:hover {
  box-shadow: 0px 0px 26px 1px #00000010;
  transition: all 0.4s ease-in-out;
}

.focus-color {
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}

.focus-color:hover {
  transition: all 0.4s ease-in-out;
  background-color: var(--bs-purple);
  color: #fff;
}

.bg-purple {
  background-color: var(--bs-purple);
}

.custom-list {
  list-style-image: url("./images/chevron.png");
}

.text-purple {
  color: var(--bs-purple);
}

/* Bootstrap 5  */

.bg-primary {
  background-color: var(--bs-primary)!important;
  color: #fff;
}

.text-primary {
  color: var(--bs-primary)!important;
}

.nav-link {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.btn-primary {
  padding: 1rem 1.4rem;
  border-radius: 4px;
  background-color: var(--bs-purple);
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary > .bi {
  margin-left: 0;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover.btn-primary > .bi {
  margin-left: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover.btn-primary {
  background-color: var(--bs-purple-light);
  transition: all 0.4s ease-in-out;
}

.form-control {
  background-color: transparent;
  padding: 1rem;
  color: var(--bs-secondary);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--bs-purple);
  background-color: transparent;
}

.form-select {
  background-color: transparent;
  padding: 1rem;
  color: var(--bs-secondary);
}
